* {
    border: none;
    border-radius: 0;
    font-family: "SF Mono", "Symbols Nerd Font", monospace;
    font-size: 13px;
    background: #000000;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

button {
    box-shadow: none;
    text-shadow: none;
}

button:hover {
    background: #000000;
    color: #ffffff;
}

#workspaces button {
    padding: 0 12px;
    color: #333333;
}

#workspaces button.active {
    color: #ffffff;
}

#clock {
    padding-left: 15px;
    color: #ffffff;
}

#network, #bluetooth, #mpris, #pulseaudio, #battery {
    padding: 0 6px;
    color: #ffffff;
}

#custom-power {
    padding-left: 6px;
    padding-right: 12px;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

#battery.warning {
    color: #ffaa00;
}

#battery.critical {
    color: #ff0000;
}

#mpris.paused, #mpris.stopped {
    color: #333333;
}
